# =========================
# Virtual Environments
# =========================
venv/
env/
.env/

# =========================
# ML Artifacts / Outputs
# =========================
artifacts/
catboost_info/
*.pkl
*.log

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Egg Info
# =========================
*.egg-info/

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
